:root {
    --mainColor: #009688;
    --mainPadding: 10px;
  }
  
  div {
    color: var(--mainColor , red);
    border: 2px solid var(--mainColor , #000);
    padding: var(--mainPadding , 10px);
    margin: 20px;
  }